-@ val isInvalidEmail: Boolean = false
-@ val isInvalidImageFile: Boolean = false
- attributes("title") = "Scalavatar - upload avatar"
:javascript
  $(document).ready(function(){
    $('input[type=file]').bootstrapFileInput();
  });
.container
  .col-md-6
    h1 Scalavatar
  .col-md-4
    h2 Upload Image File
    form(action="/avatar" method="post" enctype="multipart/form-data")
      - val email_alert = if (isInvalidEmail) "has-error" else ""
      div(class="#{email_alert}")
        p
          input.form-control(type="text" name="e-mail" placeholder="E-mail address")
        - if (isInvalidEmail)
          p.text-danger Invalid e-mail address.
      - val file_alert = if (isInvalidImageFile) "has-error" else ""
      div(class="#{file_alert}")
        p
          input(type="file" name="image-file")
        - if (isInvalidImageFile)
          p.text-danger You can upload only jpeg, png, gif, bmp or tiff file.
      div
        p
          button.btn.btn-primary Send
