- attributes("title") = "Scalavatar - simple avatar server"
:javascript
  $(document).ready(function(){
    $('input[type=file]').bootstrapFileInput();
  });
.container
  .col-md-6
    h1 Scalavatar
  .col-md-4
    h2 Upload Image File
    form(action="/avatar" method="post" enctype="multipart/form-data")
      p
        input.form-control(type="text" name="e-mail" placeholder="E-mail address")
      p
        input(type="file" name="image-file")
      p
        button.btn.btn-primary Send
    h2 View Image File
    form(action="/search" method="get")
      p
        input.form-control(type="text" name="e-mail" placeholder="E-mail address")
      p
        button.btn.btn-primary View
